@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var rainfall in Model.Rainfalls){
    <h2>@rainfall.title</h2>
   
     

    @for(int i = 0; i < rainfall.dimensions.time.data.Length; i++)
    {
        if (@rainfall.variables.precipitation.data[i] >= 0.05)
        {
            <p>@rainfall.dimensions.time.data[i] = Rain</p>
        } else
        {
             <p>@rainfall.dimensions.time.data[i] = Sunny</p>
        }
    }
   //  >0.5mm = sunny
}