@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var rainfall in Model.Rainfalls){
    <h2>@rainfall.title</h2>
   
    @for(int i = 0; i < rainfall.dimensions.time.data.Length; i++)
    {
        <p>@rainfall.dimensions.time.data[i] = @rainfall.variables.precipitation.data[i]</p>
    }
   // 0.0004 is very light rain.
}