@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:#6ca6e0;">Welcome</h1>
</div>
<div class="border-line"></div>
<div>
    @foreach (var rainfall in Model.Rainfalls){
    <div class="weather-graph">
    @for(int i = 0; i < rainfall.dimensions.time.data.Length; i++)
    {
        if (@rainfall.variables.precipitation.data[i] >= 0.05)

        {<div class="rain-bar"><div>
            <p class="rain-box">Rain</p>
        </div><div> 
            <p class="time-of-day">@rainfall.dimensions.time.data[i].ToString("H:mm")</p></div></div>
        } else
        {<div class="rain-bar"><div>
            <p class="sun-box">Sunny</p>
        </div><div class="time-of-day">
                            <p>@rainfall.dimensions.time.data[i].ToString("H:mm")</p>
                        </div>
                    </div>
        }
    }
    </div>
   
    
        <div class="selected-day"> <h2>@rainfall.title</h2> </div>}
    </div>
   //  >0.5mm = sunny
}