@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var rainfall in Model.Rainfalls){
    <h2>@rainfall.title</h2>
    <p>@rainfall.dimensions.time.data[0]</p>
    <p>@rainfall.variables.precipitation.data[0]</p>
}